* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.intro {
  min-height: 100vh;
  color: #fff;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.intro-text {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.intro-text h1 {
  width: 320px;
  font-size: 3rem;
}

.intro-text p {
  width: 310px;
  font-size: 1.4rem;
}

.intro-btn-block {
  width: 300px;
  display: flex;
}

.intro-text a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 210px;
  color: #fff;
  background-color: #000;
  font-size: 1.1rem;
  padding: 15px 25px;
  border: 2px solid #fff;
}

.intro-text a:hover {
  background-color: #fff;
  color: #000;
}

.intro-image {
  display: flex;
  width: 45vw;
}

.intro-img {
  width: 100%;
}

.intro-advantages {
  width: 90vw;
}

.intro-ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
  list-style: none;
}

.intro-ul li {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.intro-ul li .num {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
}

.intro-ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.advantage-title {
  font-size: 1.2rem;
}

.advantage-description {
  color: #888;
}

@media (max-width: 800px) {
  .intro-image {
    width: 70vw;
  }

  .intro-text {
    text-align: center;
    gap: 5vw;
  }

  .intro-btn-block {
    width: 200px;
    display: flex;
  }

  .intro-ul li div {
    align-items: flex-start;
  }

  .intro-ul .advantage-description {
    width: 200px;
  }
}

#catalog {
  background-color: #333;
  padding: 30px 30px 130px 30px;
}

#catalog h2 {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card {
  height: 300px;
  width: 400px;
  color: #fff;
  background-color: #000;
  display: flex;
}

#catalog .card {
  cursor: grab;
}

.card-body {
  width: 200px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.card-img {
  height: 300px;
  width: 200px;
}

.title {
  max-height: 135px;
  padding: 3px 16px;
  color: #000;
  display: inline-block;
  background-color: rgb(149, 244, 193);
}

.author {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
}

.price {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  display: block;
}

.btn-show-more,
.btn-add {
  color: #fff;
  background-color: rgb(1, 59, 7);
  width: 84px;
  position: absolute;
  bottom: 10px;
  margin-top: 20px;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 4px;
}

.btn-show-more:hover,
.btn-add:hover {
  cursor: pointer;
  color: #000;
  background-color: #eee;
}

.btn-show-more {
  left: 10px;
}

.btn-add {
  right: 10px;
}

.book-modal, .modal-summarize {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 35vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 500px;
  max-width: 85vw;
  min-width: 290px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.book-modal .modal-content h3, .modal-summarize h2 {
  padding: 5px;
  color: #fff;
  background-color: #333;
  text-align: center;
}

.modal-summarize h3 {
  font-size: 1.4rem;
}

.modal-content button, .btn-back-to-homepage {
  text-align: center;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.modal-content button {
  width: 100px;
}

.btn-back-to-homepage {
  width: 200px;
  text-decoration: none;
}

.summary {
  max-width: 60vw;
  font-size: 1.2rem;
}

.modal-content button:hover, .btn-back-to-homepage:hover{
  background-color: #000;
}

.bottomBag {
  position: fixed;
  bottom: -70vh;
  width: 100vw;
  height: 85vh;
  border-top: 1px solid #000;
  background: #bbb;
  z-index: 1;
  transition: all 0.5s ease;
  overflow-y: initial;
}

.bottomBag.full {
    bottom: 0;
}

.bottomBag svg {
    transition: all 0.5s ease;
}

.bottomBag.full svg{
    transform: rotate(180deg);
}

.hide {
  opacity: 0;
  left: -100%;
}

.show {
  opacity: 1;
  left: 0;
}

.bottom-bag-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 75vh;
    overflow-y: auto;
}

.cards-in-bag-block {
    padding: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-in-bag-block button {
    display: none;
}

.bottomBag h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 35px;
}

.upward-arrow {
    font-size: 1.8rem;
    position: absolute;
    top: 1px;
    left: 49%;
}

.total-sum {
    text-align: center;
}

.confirm {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 110px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
}

.confirm:hover {
    background-color: #000;
}

.close-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    color: #f00;
    font-weight: 900;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.close-btn:hover {
    background-color: #777;
    color: #f00;
}

.cart {
  min-width: 80px;
  min-height: 40px;
  display: inline-block;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media (max-width: 424px) {
  .card {
    width: 280px;
    height: 640px;
    flex-direction: column;
  }

  .card-img {
    height: 320px;
    width: 280px;
  }

  .card-body {
    height: 300px;
    width: 280px;
  }

  .book-modal {
    padding-top: 25vh;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  min-height: 100vh;
}

.container{
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(255,255,255,0.5);
  width: 80vw;
  min-height: 100vh;
}

.form{
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.radio-checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}

.radio-checkbox-wrapper .form-control {
  width: 420px;
  max-width: 60vw;
}

.form h2 {
  font-size: 2.2rem;
  text-align: center;
  margin: 0 0 20px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label, .label {
  margin-bottom: 6px;
}

.form-control label span, .label span {
  color: #f00;
}

.form-control input
{
  box-shadow: 25px #fff;
  border: 3px solid #f0f0f0;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;   
}

input[type="text"], input[type="number"], input[type="date"] {
  width: 420px;
  max-width: 60vw;
}

input[type="radio"], input[type="checkbox"] {
 width: 20px;
}

.form-control input:focus{
  outline: 0;
  border-color: #777;

}

.form-control.success input {
  border-color: #0f0;
}

.form-control.error input {
  border-color: red;    
}

.form-control small{
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: rgb(20, 132, 3);
  border: 2px solid #333;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px 25px;
  font-size: 16px;
  margin-top:20px;
  width: 200px;
  transition: all 0.2s ease;
}

.form button:disabled {
  cursor: not-allowed;
  color: #999;
  background-color: rgb(8, 57, 1);
}

.form button:disabled:hover {
  background-color: rgb(8, 57, 1);
  color: #999;
}

.form button:hover {
  color: #000;
  background-color: rgb(85, 241, 53);
}

@media (max-width:1150px) {
  .form-control{
    margin-bottom: 0;
  }

  .form .wrapper {
    padding-bottom: 10px;
  }

  .form .wrapper, .radio-checkbox-wrapper {
    gap: 5px;
  }
}
